<font size="5"><b>MY APPROACH TO SOLVING LOAN DELINQUENCY PROBLEM:</b></font>
<br><br>
<font size="4">I focused most of my time on data understanding, visualizing, and feature engineering.I made sure to understand the relevance of each feature, and also created a lot of features. I don't have each visualization or code saved, so I'll just dictate my approach in text.</font>

<font size="4">Importing the data train and test data files :</font>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
data = pd.read_csv("C:/ml projects/av ml hackathon/train.csv")
pd.set_option('display.max_columns', None)
data

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,Z,"Turner, Baldwin and Rhodes",4.250,214000,360,2012-03-01,05/2012,95,1.0,22.0,694.0,C86,30.0,0.0,0.0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,672831657627,Y,"Swanson, Newton and Miller",4.875,144000,360,2012-01-01,03/2012,72,1.0,44.0,697.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,742515242108,Z,Thornton-Davis,3.250,366000,180,2012-01-01,03/2012,49,1.0,33.0,780.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,601385667462,X,OTHER,4.750,135000,360,2012-02-01,04/2012,46,2.0,44.0,633.0,B12,0.0,638.0,0.0,0,0,0,0,0,0,0,0,1,1,1,1,1
4,273870029961,X,OTHER,4.750,124000,360,2012-02-01,04/2012,80,1.0,43.0,681.0,C86,0.0,0.0,0.0,0,1,2,3,4,5,6,7,8,9,10,11,1
5,769060024464,Y,Browning-Hart,4.375,150000,360,2012-02-01,04/2012,80,1.0,46.0,675.0,C86,0.0,0.0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,1
6,148071614687,X,OTHER,4.000,59000,360,2012-02-01,04/2012,95,1.0,44.0,723.0,C86,30.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
7,853383953266,Y,Browning-Hart,4.500,319000,300,2012-01-01,03/2012,62,1.0,45.0,652.0,A23,0.0,0.0,0.0,0,1,0,0,0,0,0,0,0,0,0,0,1
8,423590072335,X,Browning-Hart,4.000,520000,360,2012-03-01,05/2012,76,1.0,35.0,808.0,C86,0.0,0.0,0.0,0,0,0,0,1,0,1,0,1,2,0,1,1
9,308990846816,X,OTHER,4.000,214000,360,2012-01-01,03/2012,95,2.0,41.0,702.0,A23,30.0,700.0,0.0,0,0,0,0,0,1,1,1,1,1,2,2,1
10,154855543213,X,OTHER,4.125,74000,360,2012-02-01,04/2012,90,1.0,42.0,738.0,C86,25.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
11,780643872178,X,Richardson Ltd,3.750,192000,121,2012-01-01,03/2012,80,1.0,39.0,742.0,B12,0.0,0.0,0.0,0,0,1,0,1,0,0,0,0,0,1,1,1
12,901409059208,X,OTHER,4.625,46000,360,2012-03-01,05/2012,80,1.0,33.0,739.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
13,102451329914,X,"Swanson, Newton and Miller",4.375,256000,360,2012-01-01,03/2012,80,1.0,37.0,723.0,B12,0.0,0.0,0.0,0,0,0,0,1,2,3,4,5,6,7,8,1
14,828404369124,Y,Edwards-Hoffman,5.125,84000,360,2012-02-01,04/2012,80,1.0,46.0,757.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
15,895377180786,X,OTHER,4.125,48000,240,2012-01-01,03/2012,55,1.0,32.0,687.0,C86,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,1,1,1
16,556238051864,Y,Browning-Hart,4.250,68000,360,2012-02-01,04/2012,80,1.0,41.0,731.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,1,2,3,1
17,715484786393,Y,Browning-Hart,4.000,142000,360,2012-02-01,04/2012,70,1.0,42.0,699.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
18,428108380103,Y,"Swanson, Newton and Miller",4.625,89000,240,2012-01-01,03/2012,65,1.0,29.0,669.0,A23,0.0,0.0,0.0,0,0,0,0,1,0,0,0,0,0,0,1,1
19,252577759845,Y,"Turner, Baldwin and Rhodes",4.375,417000,360,2012-02-01,04/2012,56,1.0,45.0,711.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,1,2,2,2,1
20,590967091253,X,OTHER,4.625,55000,360,2012-02-01,04/2012,50,1.0,45.0,640.0,B12,0.0,0.0,0.0,0,0,0,1,0,0,0,0,0,0,0,0,1
21,481425798631,Y,"Turner, Baldwin and Rhodes",4.500,60000,360,2012-02-01,04/2012,55,1.0,41.0,621.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
22,897810643785,X,OTHER,3.250,127000,120,2012-01-01,03/2012,62,2.0,29.0,746.0,A23,0.0,770.0,0.0,0,0,0,0,0,1,0,1,1,0,0,1,1
23,136868745615,X,OTHER,3.375,215000,180,2012-01-01,03/2012,44,1.0,32.0,667.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
24,134695659987,X,OTHER,4.500,150000,360,2012-01-01,03/2012,75,1.0,39.0,779.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,1,1,1
25,757687253558,X,OTHER,4.500,246000,360,2012-02-01,04/2012,90,2.0,10.0,807.0,A23,25.0,813.0,0.0,0,0,0,0,0,0,0,0,0,0,1,2,1
26,477152543889,Y,OTHER,3.750,77000,180,2012-02-01,04/2012,85,2.0,43.0,683.0,B12,6.0,658.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,1
27,639128211599,X,OTHER,3.750,203000,360,2012-02-01,04/2012,73,2.0,19.0,776.0,A23,0.0,742.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
28,391938144683,X,OTHER,3.750,162000,360,2012-02-01,04/2012,58,2.0,43.0,757.0,B12,0.0,736.0,0.0,0,0,0,0,0,1,0,0,0,0,0,0,1
29,276078099929,Y,Browning-Hart,4.125,264000,360,2012-01-01,03/2012,77,2.0,41.0,747.0,A23,0.0,729.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116028,490158422250,Y,Browning-Hart,3.875,150000,360,2012-02-01,04/2012,21,2.0,25.0,799.0,B12,0.0,812.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116029,682398480752,X,OTHER,4.125,280000,360,2012-01-01,03/2012,52,1.0,34.0,631.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116030,225632588669,Z,OTHER,4.250,280000,360,2012-02-01,04/2012,52,2.0,30.0,783.0,B12,0.0,771.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116031,647710184336,Y,OTHER,4.250,137000,360,2012-03-01,05/2012,95,1.0,42.0,701.0,C86,30.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116032,914025289101,Y,Nicholson Group,3.250,202000,180,2012-01-01,03/2012,77,2.0,35.0,809.0,A23,0.0,800.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116033,320367506337,X,Browning-Hart,4.250,329000,360,2012-02-01,04/2012,64,2.0,27.0,705.0,B12,0.0,719.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116034,119881130219,X,OTHER,3.875,38000,240,2012-01-01,03/2012,35,1.0,28.0,805.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116035,512858812801,Y,Browning-Hart,4.250,84000,360,2012-01-01,03/2012,80,1.0,41.0,774.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116036,721919696535,Y,Browning-Hart,4.250,120000,360,2012-01-01,03/2012,45,2.0,34.0,734.0,B12,0.0,725.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116037,448167646048,X,"Swanson, Newton and Miller",4.500,168000,360,2012-01-01,03/2012,66,2.0,35.0,791.0,C86,0.0,797.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116038,896985453137,X,OTHER,4.000,108000,360,2012-02-01,04/2012,51,1.0,17.0,823.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116039,295198916535,X,OTHER,3.250,150000,360,2012-03-01,05/2012,34,2.0,11.0,823.0,B12,0.0,823.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116040,129297217394,Z,Browning-Hart,3.875,341000,360,2012-01-01,03/2012,46,1.0,29.0,705.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116041,286641090882,Y,Browning-Hart,4.375,194000,360,2012-01-01,03/2012,90,2.0,42.0,691.0,C86,25.0,721.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116042,851008181924,X,OTHER,3.250,228000,180,2012-02-01,04/2012,78,1.0,31.0,783.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116043,101989961963,X,OTHER,3.250,118000,180,2012-03-01,05/2012,42,2.0,25.0,715.0,B12,0.0,678.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116044,967378269093,X,Browning-Hart,4.500,55000,360,2012-02-01,04/2012,64,2.0,28.0,802.0,B12,0.0,786.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116045,403533707370,X,OTHER,2.875,194000,180,2012-03-01,05/2012,45,2.0,23.0,789.0,A23,0.0,781.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116046,325294420616,X,OTHER,3.875,176000,180,2012-01-01,03/2012,39,2.0,39.0,788.0,A23,0.0,791.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116047,956715092548,X,OTHER,3.625,110000,360,2012-02-01,04/2012,80,1.0,41.0,787.0,C86,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116048,536022970387,X,OTHER,3.000,90000,180,2012-03-01,05/2012,72,1.0,24.0,726.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116049,745013346682,Y,OTHER,4.250,492000,360,2012-01-01,03/2012,66,1.0,38.0,794.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116050,627135532331,X,Browning-Hart,3.875,288000,240,2012-01-01,03/2012,80,2.0,33.0,790.0,A23,0.0,725.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116051,374363980675,X,"Swanson, Newton and Miller",4.375,107000,360,2012-01-01,03/2012,70,1.0,16.0,782.0,A23,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116052,749843159666,X,OTHER,4.375,86000,360,2012-02-01,04/2012,75,1.0,37.0,673.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116053,382119962287,Y,Browning-Hart,4.125,153000,360,2012-02-01,04/2012,88,2.0,22.0,801.0,A23,25.0,802.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116054,582803915466,Z,OTHER,3.000,150000,120,2012-01-01,03/2012,35,1.0,37.0,796.0,B12,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116055,837922316947,X,OTHER,3.875,166000,360,2012-02-01,04/2012,58,2.0,49.0,724.0,B12,0.0,723.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116056,477343182138,X,OTHER,4.250,169000,360,2012-02-01,04/2012,74,2.0,13.0,755.0,A23,0.0,746.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
116057,763308490661,Z,Thornton-Davis,3.375,252000,180,2012-01-01,03/2012,29,2.0,40.0,770.0,A23,0.0,766.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [2]:
testfiledata = pd.read_csv("C:/ml projects/av ml hackathon/test.csv")
testfiledata

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12
0,1,Y,Browning-Hart,3.875,417000,360,01/02/12,Apr-12,75,1,20,790,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,X,OTHER,4.500,113000,360,01/02/12,Apr-12,80,2,33,793,C86,0,784,0,0,0,0,0,0,0,0,0,0,0,0,0
2,3,Y,OTHER,4.500,72000,360,01/01/12,Mar-12,75,1,34,710,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,X,"Miller, Mcclure and Allen",4.125,123000,180,01/02/12,Apr-12,41,2,24,798,A23,0,813,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,X,Browning-Hart,3.250,166000,180,01/02/12,Apr-12,53,2,12,767,A23,0,768,0,0,0,0,0,0,0,0,0,0,0,0,0
5,6,Y,"Sanchez, Hays and Wilkerson",3.625,416000,360,01/02/12,Apr-12,65,2,19,802,C86,0,728,0,0,0,0,0,0,0,0,0,0,0,0,0
6,7,X,OTHER,3.500,272000,180,01/02/12,Apr-12,77,2,8,777,A23,0,779,0,0,0,0,0,0,0,0,0,0,0,0,0
7,8,X,OTHER,3.125,160000,120,01/01/12,Mar-12,54,2,18,704,B12,0,803,0,0,0,0,0,0,0,0,0,0,0,0,0
8,9,X,Thornton-Davis,3.250,236000,180,01/02/12,Apr-12,42,2,33,790,A23,0,799,0,0,0,0,0,0,0,0,0,0,0,0,0
9,10,Z,Browning-Hart,4.375,98000,360,01/02/12,Apr-12,80,1,36,737,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
10,11,X,OTHER,4.000,70000,360,01/02/12,Apr-12,51,1,45,745,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,12,X,"Miller, Mcclure and Allen",2.990,196000,96,01/02/12,Apr-12,59,2,21,798,B12,0,771,0,0,0,0,0,0,0,0,0,0,0,0,0
12,13,X,OTHER,3.000,278000,180,01/02/12,Apr-12,79,2,45,660,A23,0,684,0,0,0,0,0,0,0,0,0,0,0,0,0
13,14,X,"Swanson, Newton and Miller",3.625,239000,120,01/02/12,Apr-12,63,1,40,792,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14,15,Y,"Cole, Brooks and Vincent",4.375,113000,360,01/02/12,May-12,48,1,16,687,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,16,Y,Browning-Hart,3.500,129000,180,01/01/12,Mar-12,80,1,36,677,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
16,17,X,OTHER,4.375,276000,360,01/01/12,Mar-12,95,2,35,806,C86,30,772,0,0,0,0,0,0,0,0,0,0,0,0,0
17,18,X,OTHER,4.000,321000,360,01/02/12,Apr-12,95,2,21,775,C86,30,772,0,0,0,0,0,0,0,0,0,0,0,0,0
18,19,X,OTHER,3.125,190000,120,01/01/12,Mar-12,80,2,27,780,A23,0,795,0,0,0,0,0,0,0,0,0,0,0,0,0
19,20,X,"Miller, Mcclure and Allen",4.875,74000,180,01/01/12,Mar-12,80,1,33,796,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
20,21,Z,"Miller, Mcclure and Allen",3.875,161000,240,01/02/12,Apr-12,35,1,40,744,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,22,X,OTHER,3.000,360000,120,01/02/12,Apr-12,40,1,40,795,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
22,23,X,OTHER,3.000,70000,120,01/02/12,Apr-12,19,2,10,798,C86,0,802,0,0,0,0,0,0,0,0,0,0,0,0,0
23,24,X,OTHER,3.250,175000,180,01/01/12,Mar-12,97,2,32,778,A23,35,783,0,0,0,0,0,0,0,0,0,0,0,0,0
24,25,Y,Sanchez-Robinson,2.875,130000,180,01/02/12,Apr-12,64,2,12,809,B12,0,818,0,0,0,0,0,0,0,0,0,0,0,0,0
25,26,Y,Browning-Hart,3.875,158000,360,01/01/12,Mar-12,79,2,28,739,C86,0,762,0,0,0,0,0,0,0,0,0,0,0,0,0
26,27,Y,"Cole, Brooks and Vincent",4.500,248000,360,01/01/12,Mar-12,75,1,35,788,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
27,28,X,"Miller, Mcclure and Allen",3.990,91000,180,01/02/12,Apr-12,78,2,29,731,B12,0,765,0,0,0,0,0,0,0,0,0,0,0,0,0
28,29,Z,OTHER,3.750,390000,360,01/02/12,Apr-12,60,2,24,813,A23,0,784,0,0,0,0,0,0,0,0,0,0,0,0,0
29,30,Y,OTHER,3.000,105000,120,01/03/12,May-12,57,1,32,725,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35836,35837,Y,Browning-Hart,3.875,191000,360,01/02/12,Apr-12,74,2,27,801,A23,0,798,0,0,0,0,0,0,0,0,0,0,0,0,0
35837,35838,X,"Miller, Mcclure and Allen",3.990,405000,360,01/01/12,Mar-12,18,2,46,798,A23,0,807,0,0,0,0,0,0,0,0,0,0,0,0,0
35838,35839,X,OTHER,3.875,172000,360,01/02/12,Apr-12,77,1,44,798,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35839,35840,Y,"Martinez, Duffy and Bird",4.250,43000,180,01/02/12,Apr-12,70,1,38,786,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35840,35841,Y,Browning-Hart,4.125,205000,360,01/02/12,Apr-12,78,1,44,807,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35841,35842,Z,OTHER,3.750,145000,360,01/01/12,Mar-12,16,1,45,706,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35842,35843,Y,Browning-Hart,4.375,320000,360,01/01/12,Mar-12,80,2,42,743,A23,0,746,0,0,0,0,0,0,0,0,0,0,0,0,0
35843,35844,X,OTHER,3.250,152000,180,01/02/12,Apr-12,87,1,28,789,A23,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35844,35845,X,Browning-Hart,4.125,264000,360,01/02/12,Apr-12,80,2,43,748,B12,0,748,0,0,0,0,0,0,0,0,0,0,0,0,0
35845,35846,Y,"Cole, Brooks and Vincent",3.990,230000,360,01/01/12,Mar-12,66,2,23,790,B12,0,791,0,0,0,0,0,0,0,0,0,0,0,0,0
35846,35847,Z,Browning-Hart,3.750,298000,360,01/01/12,Mar-12,26,2,36,765,B12,0,764,0,0,0,0,0,0,0,0,0,0,0,0,0
35847,35848,Z,"Cole, Brooks and Vincent",4.000,190000,360,01/02/12,Apr-12,78,1,32,809,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35848,35849,Y,OTHER,4.375,200000,360,01/01/12,Mar-12,80,1,41,759,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35849,35850,Y,Edwards-Hoffman,4.000,149000,240,01/02/12,Apr-12,70,2,31,659,B12,0,658,0,0,0,0,0,0,0,0,0,0,0,0,0
35850,35851,X,OTHER,3.250,241000,120,01/01/12,Mar-12,67,1,41,802,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35851,35852,Y,Suarez Inc,3.875,80000,360,01/01/12,Mar-12,32,1,34,707,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35852,35853,X,OTHER,4.375,101000,360,01/02/12,Apr-12,80,1,45,644,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35853,35854,Z,OTHER,3.990,387000,360,01/02/12,Apr-12,80,1,36,703,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35854,35855,X,OTHER,3.875,130000,360,01/01/12,Mar-12,60,2,36,758,B12,0,782,0,0,0,0,0,0,0,0,0,0,0,0,0
35855,35856,Y,OTHER,3.875,170000,240,01/02/12,Apr-12,60,2,22,801,A23,0,816,0,0,0,0,0,0,0,0,0,0,0,0,0
35856,35857,X,OTHER,4.250,240000,360,01/01/12,Mar-12,73,2,38,803,C86,0,799,0,0,0,0,0,0,0,0,0,0,0,0,0
35857,35858,X,Browning-Hart,4.000,304000,360,01/02/12,May-12,80,1,22,776,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35858,35859,X,Browning-Hart,4.125,79000,180,01/02/12,Apr-12,64,1,44,764,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35859,35860,X,OTHER,4.000,237000,360,01/01/12,Mar-12,64,1,45,698,B12,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
35860,35861,Y,Browning-Hart,3.250,226000,180,01/02/12,Apr-12,80,2,24,791,A23,0,781,0,0,0,0,0,0,0,0,0,0,0,0,0
35861,35862,X,OTHER,4.125,232000,240,01/01/12,Apr-12,80,2,30,684,C86,0,712,0,0,0,0,0,0,0,0,0,0,0,0,0
35862,35863,Z,Edwards-Hoffman,3.375,204000,180,01/01/12,Mar-12,80,1,30,812,B12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35863,35864,X,Browning-Hart,4.250,200000,360,01/02/12,Apr-12,52,2,38,624,B12,0,646,0,0,0,0,0,0,0,0,0,1,0,0,0
35864,35865,Y,Edwards-Hoffman,4.375,400000,360,01/02/12,Apr-12,66,1,34,753,A23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35865,35866,X,OTHER,4.375,182000,360,01/02/12,Apr-12,70,1,3,0,C86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

<font size="4">After understanding and visualizing each column, i started preprocessing:</font>

<font size="4">Binarizing the 'number_of_borrowers' feature :</font>

In [3]:
data['number_of_borrowers'] = np.where((data['number_of_borrowers']) > 1,1,0)
testfiledata['number_of_borrowers'] = np.where((testfiledata['number_of_borrowers']) > 1,1,0)

<font size="4">'financial instution' feature had too many values, but 'OTHER' and 'Browning-Hart' were the dominant ones. So I reduced its no. of values to 3, taking all other values as one.</font>

In [4]:
def recc(row):
    if row['financial_institution'] == 'OTHER':
        return 1
    elif row['financial_institution'] == 'Browning-Hart':
        return 2
    else:
        return 3

data['financial_institution'] = data.apply(recc, axis=1)
testfiledata['financial_institution'] = testfiledata.apply(recc, axis=1)

In [5]:
testfiledata['financial_institution'].value_counts()

1    15162
3    10626
2    10078
Name: financial_institution, dtype: int64

<font size="4">Label encoding the other three categorical columns:</font>

In [6]:
#label encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
data['source'] = le.fit_transform(data['source'])
data['loan_purpose'] = le.fit_transform(data['loan_purpose'])
data['insurance_type'] = le.fit_transform(data['insurance_type']) #gets converted into binary variable
testfiledata['source'] = le.fit_transform(testfiledata['source'])
testfiledata['loan_purpose'] = le.fit_transform(testfiledata['loan_purpose'])
testfiledata['insurance_type'] = le.fit_transform(testfiledata['insurance_type'])
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
0,268055008619,2,3,4.250,214000,360,2012-03-01,05/2012,95,0,22.0,694.0,2,30.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1
1,672831657627,1,3,4.875,144000,360,2012-01-01,03/2012,72,0,44.0,697.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,742515242108,2,3,3.250,366000,180,2012-01-01,03/2012,49,0,33.0,780.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,601385667462,0,1,4.750,135000,360,2012-02-01,04/2012,46,1,44.0,633.0,1,0.0,638.0,0,0,0,0,0,0,0,0,0,1,1,1,1,1
4,273870029961,0,1,4.750,124000,360,2012-02-01,04/2012,80,0,43.0,681.0,2,0.0,0.0,0,0,1,2,3,4,5,6,7,8,9,10,11,1

<font size="4">Converting the type of date columns to datetime :</font>

In [7]:
from pandas import datetime
data['origination_date'] = pd.to_datetime(data['origination_date'],infer_datetime_format = True)
data['first_payment_date'] = pd.to_datetime(data['first_payment_date'],infer_datetime_format = True)
from datetime import datetime
testfiledata['origination_date'] = pd.to_datetime(testfiledata['origination_date'],infer_datetime_format = True)
testfiledata['first_payment_date'] = pd.to_datetime(testfiledata['first_payment_date'],format = '%b-%y')

In [8]:
data['orig_date_month'] = data['origination_date'].dt.month
data['first_pmt_date_month'] = data['first_payment_date'].dt.month

testfiledata['orig_date_month'] = testfiledata['origination_date'].dt.month
testfiledata['first_pmt_date_month'] = testfiledata['first_payment_date'].dt.month

data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month
0,268055008619,2,3,4.250,214000,360,2012-03-01,2012-05-01,95,0,22.0,694.0,2,30.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,3,5
1,672831657627,1,3,4.875,144000,360,2012-01-01,2012-03-01,72,0,44.0,697.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,3
2,742515242108,2,3,3.250,366000,180,2012-01-01,2012-03-01,49,0,33.0,780.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,3
3,601385667462,0,1,4.750,135000,360,2012-02-01,2012-04-01,46,1,44.0,633.0,1,0.0,638.0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,2,4
4,273870029961,0,1,4.750,124000,360,2012-02-01,2012-04-01,80,0,43.0,681.0,2,0.0,0.0,0,0,1,2,3,4,5,6,7,8,9,10,11,1,2,4

In [9]:
data['m13'].value_counts()
#since m1 to m12 columns values are so confusing, imma try building a model as it is, then try building a model after changing 
#every value above 1 to 1

0    115422
1       636
Name: m13, dtype: int64

<font size="4">This tells us that the data is highly skewed, as are most loan fault problems. So we might try upsampling and k fold validation later.</font>

<font size="4">One hot encoding data :</font>

In [11]:
#onehotencoding data
cat_cols = ['source',
'financial_institution','loan_purpose']

data1 = data[cat_cols]

from sklearn.preprocessing import OneHotEncoder

X = data1.values

sources = np.unique(X[:,0])
finstitutions = np.unique(X[:,1])
lpurposes = np.unique(X[:,2])

ohe = OneHotEncoder(categories=[sources,finstitutions,lpurposes])
X = ohe.fit_transform(X).toarray()

data1 = pd.DataFrame(data = X)
data = pd.concat([data, data1], axis=1)
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8
0,268055008619,2,3,4.250,214000,360,2012-03-01,2012-05-01,95,0,22.0,694.0,2,30.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,3,5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,672831657627,1,3,4.875,144000,360,2012-01-01,2012-03-01,72,0,44.0,697.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,742515242108,2,3,3.250,366000,180,2012-01-01,2012-03-01,49,0,33.0,780.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
3,601385667462,0,1,4.750,135000,360,2012-02-01,2012-04-01,46,1,44.0,633.0,1,0.0,638.0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,2,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
4,273870029961,0,1,4.750,124000,360,2012-02-01,2012-04-01,80,0,43.0,681.0,2,0.0,0.0,0,0,1,2,3,4,5,6,7,8,9,10,11,1,2,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [12]:
#onehotencoding testfiledata
data2 = testfiledata[cat_cols]

X = data2.values

sources = np.unique(X[:,0])
finstitutions = np.unique(X[:,1])
lpurposes = np.unique(X[:,2])

ohe = OneHotEncoder(categories=[sources,finstitutions,lpurposes])
X = ohe.fit_transform(X).toarray()

data2 = pd.DataFrame(data = X)
testfiledata = pd.concat([testfiledata, data2], axis=1)
testfiledata.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8
0,1,1,2,3.875,417000,360,2012-01-02,2012-04-01,75,0,20,790,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,2,0,1,4.500,113000,360,2012-01-02,2012-04-01,80,1,33,793,2,0,784,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,3,1,1,4.500,72000,360,2012-01-01,2012-03-01,75,0,34,710,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,3,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,4,0,3,4.125,123000,180,2012-01-02,2012-04-01,41,1,24,798,0,0,813,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,5,0,2,3.250,166000,180,2012-01-02,2012-04-01,53,1,12,767,0,0,768,0,0,0,0,0,0,0,0,0,0,0,0,0,1,4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [13]:
data.columns = data.columns.map(str)
testfiledata.columns = testfiledata.columns.map(str)

<font size="4">Now i will create new features, which might help the model make better predictions. I created many columns, but kept the following :</font>

In [14]:
#so we have tested the basic models, now let's do this shit
#run cells 1 to 7 again

#first feature creation : first_payment_Date - origination date
data['first_pay-org_date'] = pd.Series(data['first_payment_date'] - data['origination_date'])
testfiledata['first_pay-org_date'] = pd.Series(testfiledata['first_payment_date'] - testfiledata['origination_date'])

data['first_pay-org_date'] = data['first_pay-org_date'].dt.days
testfiledata['first_pay-org_date'] = testfiledata['first_pay-org_date'].dt.days

In [15]:
#second feature creation: no of defaults in m1 to m12
data['no_of_defaults'] = data['m1'] + data['m2'] + data['m3'] + data['m4'] + data['m5'] + data['m6'] + data['m7'] +data['m8'] +data['m9'] +data['m10'] +data['m11'] +data['m12']
testfiledata['no_of_defaults'] = testfiledata['m1'] + testfiledata['m2'] + testfiledata['m3'] + testfiledata['m4'] + testfiledata['m5'] + testfiledata['m6'] + testfiledata['m7'] +testfiledata['m8'] +testfiledata['m9'] +testfiledata['m10'] +testfiledata['m11'] +testfiledata['m12']

In [16]:
#third feature creation : any default - binary variable
data['any_default'] = np.where((data['m1'] + data['m2'] + data['m3'] + data['m4'] + data['m5'] + data['m6'] + data['m7'] +data['m8'] +data['m9'] +data['m10'] +data['m11'] +data['m12']) > 0, 1,0)
testfiledata['any_default'] = np.where((testfiledata['m1'] + testfiledata['m2'] + testfiledata['m3'] + testfiledata['m4'] + testfiledata['m5'] + testfiledata['m6'] + testfiledata['m7'] +testfiledata['m8'] +testfiledata['m9'] +testfiledata['m10'] +testfiledata['m11'] +testfiledata['m12']) > 0,1,0)

In [17]:
#4th,5th,6th,7th feature creation: slope from m1 to m3, m4 to m6 and so on
data['slope1m3'] = data['m3'] - data['m1']
data['slope4m6'] = data['m6'] - data['m4']
data['slope7m9'] = data['m9'] - data['m7']
data['slope10m12'] = data['m12'] - data['m10']

testfiledata['slope1m3'] = testfiledata['m3'] - testfiledata['m1']
testfiledata['slope4m6'] = testfiledata['m6'] - testfiledata['m4']
testfiledata['slope7m9'] = testfiledata['m9'] - testfiledata['m7']
testfiledata['slope10m12'] = testfiledata['m12'] - testfiledata['m10']

<font size="4">Now to create a very important variable : 'money to be paid' as it will be a better feature than 'unpaid principal balance' or 'interest rate'. I tried to apply compound interest formula for this:</font>

In [18]:
#eighth feature creation: perhaps the most important of all:
#to_be_paid = unpaid(1+rate)^loan_term_left
#creating variable loan_term_left

data['loan_term_left'] = ((data['loan_term']/30) - data['orig_date_month'])
testfiledata['loan_term_left'] = ((testfiledata['loan_term']/30) - testfiledata['orig_date_month'])

data['to_be_paid'] = (data['unpaid_principal_bal'])*((data['interest_rate'] + 1)**data['loan_term_left'])
testfiledata['to_be_paid'] = (testfiledata['unpaid_principal_bal'])*((testfiledata['interest_rate'] + 1)**testfiledata['loan_term_left'])

In [19]:
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8,first_pay-org_date,no_of_defaults,any_default,slope1m3,slope4m6,slope7m9,slope10m12,loan_term_left,to_be_paid
0,268055008619,2,3,4.250,214000,360,2012-03-01,2012-05-01,95,0,22.0,694.0,2,30.0,0.0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,3,5,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,61,1,1,0,0,-1,0,9.0,6.484067e+11
1,672831657627,1,3,4.875,144000,360,2012-01-01,2012-03-01,72,0,44.0,697.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,60,1,1,0,0,0,0,11.0,4.144280e+13
2,742515242108,2,3,3.250,366000,180,2012-01-01,2012-03-01,49,0,33.0,780.0,1,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,60,0,0,0,0,0,0,5.0,5.074880e+08
3,601385667462,0,1,4.750,135000,360,2012-02-01,2012-04-01,46,1,44.0,633.0,1,0.0,638.0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,2,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,60,4,1,0,0,1,0,10.0,5.333499e+12
4,273870029961,0,1,4.750,124000,360,2012-02-01,2012-04-01,80,0,43.0,681.0,2,0.0,0.0,0,0,1,2,3,4,5,6,7,8,9,10,11,1,2,4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,60,66,1,2,2,2,2,10.0,4.898918e+12

<font size="4">Three very important features are constructed in the cell below:</font>

In [20]:
#now i'll try making a new variable: no of months of defaults

def oner(val):
    return np.where(val > 0,1,0)

data['no_month_def'] = oner(data['m1']) + oner(data['m2']) + oner(data['m3']) + oner(data['m4']) + oner(data['m5']) + oner(data['m6']) + oner(data['m7']) + oner(data['m8']) + oner(data['m9']) + oner(data['m10']) + oner(data['m11']) + oner(data['m12'])
testfiledata['no_month_def'] = oner(testfiledata['m1']) + oner(testfiledata['m2']) + oner(testfiledata['m3']) + oner(testfiledata['m4']) + oner(testfiledata['m5']) + oner(testfiledata['m6']) + oner(testfiledata['m7']) + oner(testfiledata['m8']) + oner(testfiledata['m9']) + oner(testfiledata['m10']) + oner(testfiledata['m11']) + oner(testfiledata['m12'])

#another variable: no of months default 3-month-pairwise

data['1any3'] = np.where((oner(data['m1']) + oner(data['m2']) + oner(data['m3'])) > 0,1,0)
data['4any6'] = np.where((oner(data['m4']) + oner(data['m5']) + oner(data['m6'])) > 0,1,0)
data['7any9'] = np.where((oner(data['m7']) + oner(data['m8']) + oner(data['m9'])) > 0,1,0)
data['10any12'] = np.where((oner(data['m10']) + oner(data['m11']) + oner(data['m12'])) > 0,1,0)
testfiledata['1any3'] = np.where((oner(testfiledata['m1']) + oner(testfiledata['m2']) + oner(testfiledata['m3'])) > 0,1,0)
testfiledata['4any6'] = np.where((oner(testfiledata['m4']) + oner(testfiledata['m5']) + oner(testfiledata['m6'])) > 0,1,0)
testfiledata['7any9'] = np.where((oner(testfiledata['m7']) + oner(testfiledata['m8']) + oner(testfiledata['m9'])) > 0,1,0)
testfiledata['10any12'] = np.where((oner(testfiledata['m10']) + oner(testfiledata['m11']) + oner(testfiledata['m12'])) > 0,1,0)

#another variable : months since last default

def rec(row):
    if row['m12'] > 0:
        return 0
    elif row['m11'] > 0:
        return 1
    elif row['m10'] > 0:
        return 2
    elif row['m9'] > 0:
        return 3
    elif row['m8'] > 0:
        return 4
    elif row['m7'] > 0:
        return 5
    elif row['m6'] > 0:
        return 6
    elif row['m5'] > 0:
        return 7
    elif row['m4'] > 0:
        return 8
    elif row['m3'] > 0:
        return 9
    elif row['m2'] > 0:
        return 10
    elif row['m1'] > 0:
        return 11
    else:
        return 24

data['months_since_def'] = data.apply(rec, axis=1)
testfiledata['months_since_def'] = testfiledata.apply(rec, axis=1)

#if considering months since last default, dont consider any default

In [21]:
#creating another variable : monthly installment
#installment =  [P x R x (1+R)^N]/[(1+R)^N-1]

data['installment'] = ((data['to_be_paid'])/((1 + data['interest_rate'])**(data['loan_term_left'] - 1)))
testfiledata['installment'] = ((testfiledata['to_be_paid'])/((1 + testfiledata['interest_rate'])**(testfiledata['loan_term_left'] - 1)))

<font size="4">Now for standard scaling of the numerical features:</font>

In [22]:
#continuous variable normalization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
cont_cols = ['interest_rate',
'unpaid_principal_bal',
'loan_term',
'loan_to_value',
'number_of_borrowers',
'debt_to_income_ratio',
'borrower_credit_score',
'insurance_percent',
'co-borrower_credit_score',
'to_be_paid',
'no_of_defaults',
'first_pay-org_date',
'loan_term_left',
'1any3','4any6','7any9','10any12',
'slope1m3','slope4m6','slope7m9','slope10m12',
'orig_date_month','first_pmt_date_month',
'no_month_def',
'months_since_def',
'installment']
data[cont_cols] = scaler.fit_transform(data[cont_cols])
testfiledata[cont_cols] = scaler.fit_transform(testfiledata[cont_cols])
data.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8,first_pay-org_date,no_of_defaults,any_default,slope1m3,slope4m6,slope7m9,slope10m12,loan_term_left,to_be_paid,no_month_def,1any3,4any6,7any9,10any12,months_since_def,installment
0,268055008619,2,3,0.826517,0.050345,0.754428,2012-03-01,2012-05-01,1.594300,-1.207529,-0.898419,-1.798764,2,3.361200,-1.203344,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1.910366,1.874676,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.091669,0.977475,1,0.016556,-0.017317,-11.638657,-0.013938,0.311607,-0.398814,2.614716,-0.072809,-0.069569,12.987511,-0.089144,-7.106985,0.192252
1,672831657627,1,3,2.182212,-0.560025,0.754428,2012-01-01,2012-03-01,0.264177,-1.207529,1.362454,-1.727692,1,-0.344138,-1.203344,0,0,0,0,0,0,0,0,0,0,0,1,0,1,-1.035598,-1.030689,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.045476,0.977475,1,0.016556,-0.017317,-0.013923,-0.013938,0.960544,3.027722,2.614716,-0.072809,-0.069569,-0.076997,11.217814,-8.630597,-0.293606
2,742515242108,2,3,-1.342595,1.375719,-1.250874,2012-01-01,2012-03-01,-1.065945,-1.207529,0.232018,0.238642,1,-0.344138,-1.203344,0,0,0,0,0,0,0,0,0,0,0,0,0,1,-1.035598,-1.030689,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.045476,-0.054160,0,0.016556,-0.017317,-0.013923,-0.013938,-0.986266,-0.453235,-0.092489,-0.072809,-0.069569,-0.076997,-0.089144,0.130171,0.948616
3,601385667462,0,1,1.911073,-0.638501,0.754428,2012-02-01,2012-04-01,-1.239439,0.828137,1.362454,-3.243901,1,-0.344138,0.467052,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,-0.045476,4.072383,1,0.016556,-0.017317,11.610812,-0.013938,0.636076,-0.005289,10.736330,-0.072809,-0.069569,12.987511,11.217814,-9.011500,-0.415727
4,273870029961,0,1,1.911073,-0.734416,0.754428,2012-02-01,2012-04-01,0.726829,-1.207529,1.259687,-2.106744,2,-0.344138,-1.203344,0,0,1,2,3,4,5,6,7,8,9,10,11,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.045476,68.033811,1,27.079961,27.895876,23.235547,19.243901,0.636076,-0.041792,29.686763,13.734528,14.374184,12.987511,11.217814,-9.011500,-0.526468

<font size="4">The next step was to check the correlation between the variables, and here I deleted some of the variables I had created.</font>

In [26]:
#bivariate analysis - correlation in continuous variables
cont_data = data[[
'interest_rate',
'unpaid_principal_bal',
'loan_term',
'loan_to_value',
'number_of_borrowers',
'debt_to_income_ratio',
'borrower_credit_score',
'insurance_percent',
'co-borrower_credit_score',
'to_be_paid',
'no_of_defaults',
'loan_term_left',
'1any3','4any6','7any9','10any12',
'slope1m3','slope4m6','slope7m9','slope10m12',
'no_month_def',
'months_since_def',
'installment'
]]

the_corr = cont_data.corr()
the_corr

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,to_be_paid,no_of_defaults,loan_term_left,1any3,4any6,7any9,10any12,slope1m3,slope4m6,slope7m9,slope10m12,no_month_def,months_since_def,installment
interest_rate,1.000000,-0.002854,0.720734,0.273379,-0.128075,0.181988,-0.210468,0.143116,-0.138013,0.481333,0.043713,0.728034,0.032629,0.047134,0.047903,0.058722,0.005113,0.015429,0.015717,0.013804,0.066298,-0.068385,0.141320
unpaid_principal_bal,-0.002854,1.000000,0.192168,0.062447,0.130565,0.073415,0.052061,0.010926,0.132632,0.224270,-0.009501,0.181072,0.000335,-0.011734,-0.011520,-0.012357,-0.005671,-0.000574,-0.002933,-0.005773,-0.015213,0.008912,0.985724
loan_term,0.720734,0.192168,1.000000,0.292565,-0.107341,0.137852,-0.072021,0.190762,-0.110268,0.341682,0.017070,0.975448,0.016203,0.018680,0.020391,0.023954,-0.000098,0.004061,0.007531,0.004887,0.027347,-0.029959,0.297321
loan_to_value,0.273379,0.062447,0.292565,1.000000,-0.100898,0.126993,-0.142574,0.490128,-0.109546,0.137664,0.012102,0.284964,0.008825,0.013017,0.013238,0.015707,0.003333,0.004380,0.001060,0.002675,0.017543,-0.018204,0.099677
number_of_borrowers,-0.128075,0.130565,-0.107341,-0.100898,1.000000,-0.134395,0.120120,-0.058976,0.996498,-0.027939,-0.032522,-0.108867,-0.029311,-0.033338,-0.036376,-0.034859,0.002429,-0.006957,-0.013957,-0.013791,-0.045584,0.048558,0.110864
debt_to_income_ratio,0.181988,0.073415,0.137852,0.126993,-0.134395,1.000000,-0.184406,0.066946,-0.145145,0.105431,0.027840,0.138108,0.017688,0.022485,0.033494,0.036432,-0.001301,0.012557,0.008336,0.007616,0.039656,-0.042208,0.097968
borrower_credit_score,-0.210468,0.052061,-0.072021,-0.142574,0.120120,-0.184406,1.000000,-0.062849,0.153952,-0.128589,-0.076795,-0.075675,-0.064617,-0.093511,-0.098369,-0.104798,-0.006818,-0.027439,-0.017386,-0.019332,-0.122961,0.129902,0.020983
insurance_percent,0.143116,0.010926,0.190762,0.490128,-0.058976,0.066946,-0.062849,1.000000,-0.063370,0.072288,-0.001729,0.185458,-0.000797,0.001206,0.003186,0.006047,0.000067,-0.000969,0.000318,0.001956,0.002153,-0.004644,0.035730
co-borrower_credit_score,-0.138013,0.132632,-0.110268,-0.109546,0.996498,-0.145145,0.153952,-0.063370,1.000000,-0.034297,-0.034256,-0.111957,-0.031175,-0.036081,-0.039272,-0.038249,0.002452,-0.007982,-0.013719,-0.013866,-0.049003,0.052880,0.111309
to_be_paid,0.481333,0.224270,0.341682,0.137664,-0.027939,0.105431,-0.128589,0.072288,-0.034297,1.000000,0.031312,0.410912,0.026404,0.026398,0.034532,0.032319,0.003525,0.012156,0.015314,0.003645,0.044728,-0.041524,0.309952
no_of_defaults,0.043713,-0.009501,0.017070,0.012102,-0.032522,0.027840,-0.076795,-0.001729,-0.034256,0.031312,1.000000,0.018933,0.322526,0.462160,0.493679,0.452379,0.154739,0.424091,0.357498,0.195078,0.804970,-0.447705,-0.003185
loan_term_left,0.728034,0.181072,0.975448,0.284964,-0.108867,0.138108,-0.075675,0.185458,-0.111957,0.410912,0.018933,1.000000,0.018366,0.020235,0.022313,0.025825,-0.000732,0.005084,0.008342,0.005098,0.030119,-0.032445,0.287334
1any3,0.032629,0.000335,0.016203,0.008825,-0.029311,0.017688,-0.064617,-0.000797,-0.031175,0.026404,0.322526,0.018366,1.000000,0.211448,0.166918,0.154931,-0.227394,0.073457,0.026646,0.027624,0.463816,-0.434662,0.004659
4any6,0.047134,-0.011734,0.018680,0.013017,-0.033338,0.022485,-0.093511,0.001206,-0.036081,0.026398,0.462160,0.020235,0.211448,1.000000,0.368604,0.297750,0.073566,0.248914,0.056901,0.066138,0.642472,-0.517845,-0.005265
7any9,0.047903,-0.011520,0.020391,0.013238,-0.036376,0.033494,-0.098369,0.003186,-0.039272,0.034532,0.493679,0.022313,0.166918,0.368604,1.000000,0.392799,0.063728,0.226473,0.180821,0.057458,0.698063,-0.624354,-0.004898
10any12,0.058722,-0.012357,0.023954,0.015707,-0.034859,0.036432,-0.104798,0.006047,-0.038249,0.032319,0.452379,0.025825,0.154931,0.297750,0.392799,1.000000,0.052891,0.165702,0.192423,0.156358,0.674339,-0.780387,-0.003688
slope1m3,0.005113,-0.005671,-0.000098,0.003333,0.002429,-0.001301,-0.006818,0.000067,0.002452,0.003525,0.154739,-0.000732,-0.227394,0.073566,0.063728,0.052891,1.000000,0.036086,-0.029588,0.030543,0.077917,0.052426,-0.005280
slope4m6,0.015429,-0.000574,0.004061,0.004380,-0.006957,0.012557,-0.027439,-0.000969,-0.007982,0.012156,0.424091,0.005084,0.073457,0.248914,0.226473,0.165702,0.036086,1.000000,0.079441,0.076182,0.340232,-0.158936,0.001644
slope7m9,0.015717,-0.002933,0.007531,0.001060,-0.013957,0.008336,-0.017386,0.000318,-0.013719,0.015314,0.357498,0.008342,0.026646,0.056901,0.180821,0.192423,-0.029588,0.079441,1.000000,0.036456,0.258214,-0.136910,-0.000772
slope10m12,0.013804,-0.005773,0.004887,0.002675,-0.013791,0.007616,-0.019332,0.001956,-0.013866,0.003645,0.195078,0.005098,0.027624,0.066138,0.057458,0.156358,0.030543,0.076182,0.036456,1.000000,0.173680,-0.142418,-0.003867
no_month_def,0.066298,-0.015213,0.027347,0.017543,-0.045584,0.039656,-0.122961,0.002153,-0.049003,0.044728,0.804970,0.030119,0.463816,0.642472,0.698063,0.674339,0.077917,0.340232,0.258214,0.173680,1.000000,-0.739468,-0.005944
months_since_def,-0.068385,0.008912,-0.029959,-0.018204,0.048558,-0.042208,0.129902,-0.004644,0.052880,-0.041524,-0.447705,-0.032445,-0.434662,-0.517845,-0.624354,-0.780387,0.052426,-0.158936,-0.136910,-0.142418,-0.739468,1.000000,-0.000750
installment,0.141320,0.985724,0.297321,0.099677,0.110864,0.097968,0.020983,0.035730,0.111309,0.309952,-0.003185,0.287334,0.004659,-0.005265,-0.004898,-0.003688,-0.005280,0.001644,-0.000772,-0.003867,-0.005944,-0.000750,1.000000

In [27]:
the_corr[the_corr > 0.6]

,interest_rate,unpaid_principal_bal,loan_term,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,insurance_percent,co-borrower_credit_score,to_be_paid,no_of_defaults,loan_term_left,1any3,4any6,7any9,10any12,slope1m3,slope4m6,slope7m9,slope10m12,no_month_def,months_since_def,installment
interest_rate,1.000000,NaN,0.720734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.728034,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unpaid_principal_bal,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.985724
loan_term,0.720734,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.975448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
loan_to_value,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_borrowers,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0.996498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
debt_to_income_ratio,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
borrower_credit_score,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
insurance_percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
co-borrower_credit_score,NaN,NaN,NaN,NaN,0.996498,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
to_be_paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
no_of_defaults,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.804970,NaN,NaN
loan_term_left,0.728034,NaN,0.975448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1any3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4any6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.642472,NaN,NaN
7any9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.698063,NaN,NaN
10any12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.674339,NaN,NaN
slope1m3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
slope4m6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
slope7m9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
slope10m12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
no_month_def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.80497,NaN,NaN,0.642472,0.698063,0.674339,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
months_since_def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
installment,NaN,0.985724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

<font size="4">Splitting the data into validation and train, but since the first few hundred rows are delinquent, I split the train data in the ratio of 80:20, where every 5th row went for validation set</font>

In [28]:
#i'm not getting a noticeable improvement in my scores so i'll just split up train data file in train and test
datatest = data.loc[::5,:]
datatest.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8,first_pay-org_date,no_of_defaults,any_default,slope1m3,slope4m6,slope7m9,slope10m12,loan_term_left,to_be_paid,no_month_def,1any3,4any6,7any9,10any12,months_since_def,installment
0,268055008619,2,3,0.826517,0.050345,0.754428,2012-03-01,2012-05-01,1.594300,-1.207529,-0.898419,-1.798764,2,3.361200,-1.203344,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1.910366,1.874676,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.091669,0.977475,1,0.016556,-0.017317,-11.638657,-0.013938,0.311607,-0.398814,2.614716,-0.072809,-0.069569,12.987511,-0.089144,-7.106985,0.192252
5,769060024464,1,2,1.097656,-0.507707,0.754428,2012-02-01,2012-04-01,0.726829,-1.207529,1.567988,-2.248889,2,-0.344138,-1.203344,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0.437384,0.421994,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.045476,0.977475,1,-13.515146,-0.017317,-0.013923,-0.013938,0.636076,-0.199688,2.614716,13.734528,-0.069569,-0.076997,-0.089144,-4.821567,-0.363202
10,154855543213,0,1,0.555378,-1.170394,0.754428,2012-02-01,2012-04-01,1.305143,-1.207529,1.156920,-0.756370,2,2.743643,-1.203344,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.045476,0.977475,1,0.016556,-0.017317,-0.013923,9.614981,0.636076,-0.375577,2.614716,-0.072809,-0.069569,-0.076997,11.217814,-9.011500,-1.110811
15,895377180786,0,1,0.555378,-1.397103,-0.582440,2012-01-01,2012-03-01,-0.718956,-1.207529,0.129251,-1.964600,2,-0.344138,-1.203344,0,0,0,0,1,0,0,0,0,0,0,1,1,1,-1.035598,-1.030689,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.045476,3.040747,1,0.016556,-13.973913,-0.013923,9.614981,-0.337330,-0.452903,8.029125,-0.072809,14.374184,-0.076997,11.217814,-9.011500,-1.344111
20,590967091253,0,1,1.639934,-1.336066,0.754428,2012-02-01,2012-04-01,-1.008113,-1.207529,1.465221,-3.078066,1,-0.344138,-1.203344,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,-0.045476,0.977475,1,0.016556,-13.973913,-0.013923,-0.013938,0.636076,-0.306776,2.614716,-0.072809,14.374184,-0.076997,-0.089144,-5.964276,-1.233151

In [29]:
datatrain = data
datatrain = datatrain.drop(datatrain.index[::5], 0)
datatrain.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,debt_to_income_ratio,borrower_credit_score,loan_purpose,insurance_percent,co-borrower_credit_score,insurance_type,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,orig_date_month,first_pmt_date_month,0,1,2,3,4,5,6,7,8,first_pay-org_date,no_of_defaults,any_default,slope1m3,slope4m6,slope7m9,slope10m12,loan_term_left,to_be_paid,no_month_def,1any3,4any6,7any9,10any12,months_since_def,installment
1,672831657627,1,3,2.182212,-0.560025,0.754428,2012-01-01,2012-03-01,0.264177,-1.207529,1.362454,-1.727692,1,-0.344138,-1.203344,0,0,0,0,0,0,0,0,0,0,0,1,0,1,-1.035598,-1.030689,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.045476,0.977475,1,0.016556,-0.017317,-0.013923,-0.013938,0.960544,3.027722,2.614716,-0.072809,-0.069569,-0.076997,11.217814,-8.630597,-0.293606
2,742515242108,2,3,-1.342595,1.375719,-1.250874,2012-01-01,2012-03-01,-1.065945,-1.207529,0.232018,0.238642,1,-0.344138,-1.203344,0,0,0,0,0,0,0,0,0,0,0,0,0,1,-1.035598,-1.030689,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,-0.045476,-0.054160,0,0.016556,-0.017317,-0.013923,-0.013938,-0.986266,-0.453235,-0.092489,-0.072809,-0.069569,-0.076997,-0.089144,0.130171,0.948616
3,601385667462,0,1,1.911073,-0.638501,0.754428,2012-02-01,2012-04-01,-1.239439,0.828137,1.362454,-3.243901,1,-0.344138,0.467052,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,-0.045476,4.072383,1,0.016556,-0.017317,11.610812,-0.013938,0.636076,-0.005289,10.736330,-0.072809,-0.069569,12.987511,11.217814,-9.011500,-0.415727
4,273870029961,0,1,1.911073,-0.734416,0.754428,2012-02-01,2012-04-01,0.726829,-1.207529,1.259687,-2.106744,2,-0.344138,-1.203344,0,0,1,2,3,4,5,6,7,8,9,10,11,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.045476,68.033811,1,27.079961,27.895876,23.235547,19.243901,0.636076,-0.041792,29.686763,13.734528,14.374184,12.987511,11.217814,-9.011500,-0.526468
6,148071614687,0,1,0.284239,-1.301188,0.754428,2012-02-01,2012-04-01,1.594300,-1.207529,1.362454,-1.111732,2,3.361200,-1.203344,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.437384,0.421994,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.045476,-0.054160,0,0.016556,-0.017317,-0.013923,-0.013938,0.636076,-0.404882,-0.092489,-0.072809,-0.069569,-0.076997,-0.089144,0.130171,-1.258320

<font size="4">I tried building a model before trying smote and then after trying smote. For some reason it did not seem to bring better results, so I discarded upsampling and went for stratified kfold validation and spent a lot of time in CV, in a quite different manner.</font>

In [30]:
#now using smote
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression

all_features = [
#'loan_id', 
#'source', 
#'financial_institution', 
#'interest_rate',
#'unpaid_principal_bal', 
#'loan_term', 
#'origination_date',
#'first_payment_date', 
'loan_to_value', 
'number_of_borrowers',
'debt_to_income_ratio', 
'borrower_credit_score', 
#'loan_purpose',
'insurance_percent', 
'co-borrower_credit_score', 
'insurance_type', 
#'m1',
#'m2', 
#'m3', 
#'m4', 
#'m5', 
#'m6', 
#'m7', 
#'m8', 
#'m9', 
#'m10', 
#'m11', 
#'m12',
#'m13', 
#'orig_date_month', 
#'first_pmt_date_month', 
'0', 
'1', 
'2', 
'3',
'4', 
'5', 
'6', 
'7', 
'8', 
'first_pay-org_date', 
'no_of_defaults',
'any_default', 
'slope1m3', 
'slope4m6', 
'slope7m9', 
'slope10m12',
'loan_term_left', 
'to_be_paid', 
'no_month_def', 
'1any3', 
'4any6',
'7any9', 
'10any12', 
'months_since_def', 
'installment'
]

xtrain = datatrain[all_features]

ytrain = datatrain['m13']

#datatestnew = datatest[all_features]

#datatestnew.columns = ['f0', 'f24', 'f29', 'f8', 'f14', 'f3', 'f1', 'f30', 'f19', 'f21', 'f26', 'f7', 'f18', 'f31', 'f13', 'f28', 'f15', 'f11', 'f16', 'f25', 'f12', 'f22', 'f20', 'f2', 'f10', 'f27', 'f4', 'f5', 'f9', 'f17', 'f23', 'f6']

xtest = datatest[all_features]

ytest = datatest['m13']

smote = SMOTE(random_state=42)
X_train, y_train = smote.fit_sample(xtrain, ytrain)
#X_test, y_test = smote.fit_sample(xtest, ytest)

X_train = pd.DataFrame(X_train,columns = xtrain.columns)
y_train = pd.Series(y_train)

X_test = xtest
y_test = ytest

xg = XGBClassifier(learning_rate = 0.08,max_depth = 5,min_child_weight = 22,colsample_bytree = 0.7)
#fit the best models so far
xg.fit(X_train, y_train)

#Make predictions
print('Classification of SMOTE-resampled dataset with XGboost')
y_pred = xg.predict(X_test)

ypred = pd.Series(y_pred)

from sklearn.metrics import f1_score
f1score = f1_score(y_test,y_pred)
from sklearn.metrics import confusion_matrix
cf = confusion_matrix(y_test,y_pred)

print(f1score)
print(cf)

Classification of SMOTE-resampled dataset with XGboost
0.4624277456647399
[[22946   138]
 [   48    80]]

In [31]:
#so smote doesnt work well for me

<font size="4">I was getting improvement in the validation set results, but not getting good results on the test file, so I tried stratified kfold validation, which helped me with the problem of skewed data as well.</font>

In [32]:
#now using stratified kfold validation
all_features = [
#'loan_id', 
#'source', 
#'financial_institution', 
#'interest_rate',
#'unpaid_principal_bal', 
#'loan_term', 
#'origination_date',
#'first_payment_date', 
'loan_to_value', 
'number_of_borrowers',
'debt_to_income_ratio', 
'borrower_credit_score', 
'loan_purpose',
'insurance_percent', 
'co-borrower_credit_score', 
'insurance_type', 
'm1',
'm2', 
'm3', 
'm4', 
'm5', 
'm6', 
'm7', 
'm8', 
'm9', 
'm10', 
'm11', 
'm12',
#'m13', 
#'orig_date_month', 
#'first_pmt_date_month', 
'0', 
'1', 
'2', 
'3',
'4', 
'5', 
'6', 
'7', 
'8', 
'first_pay-org_date', 
'no_of_defaults',
'any_default', 
'slope1m3', 
'slope4m6', 
'slope7m9', 
'slope10m12',
'loan_term_left', 
'to_be_paid', 
'no_month_def', 
'1any3', 
'4any6',
'7any9', 
'10any12', 
'months_since_def', 
'installment'
]

X = data[all_features]

y = data['m13']

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

kf = StratifiedKFold(n_splits=6,shuffle=True,random_state=42)
pred_test_full =0
cv_score =[]
i=1
for train_index,test_index in kf.split(X,y):
    print('{} of KFold {}'.format(i,kf.n_splits))
    xtr,xvl = X.loc[train_index],X.loc[test_index]
    ytr,yvl = y.loc[train_index],y.loc[test_index]
    
    #model
    #lr = XGBClassifier(learning_rate = 0.08,max_depth = 5,min_child_weight = 22,colsample_bytree = 0.7)
    lr = LogisticRegression()
    lr.fit(xtr,ytr)
    score = f1_score(yvl,lr.predict(xvl))
    print("this fold score: ", score)
    pred_test = lr.predict_proba(xvl)[:,1]
    #pred_test_full += pred_test
    i += 1


proba = lr.predict_proba(X)[:,1]
proba = pd.Series(proba)
proba = np.where((proba > 0.3),1,0)
from sklearn.metrics import f1_score
f1score = f1_score(y,proba)
from sklearn.metrics import confusion_matrix
cf = confusion_matrix(y,proba)

#calib_func = prob_calibration_function(y_tr, y_pred_xval)
#print(calib_func)
print(f1score)
print(cf)

1 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.5766871165644172
2 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.5032258064516129
3 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.48648648648648646
4 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.4473684210526316
5 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.5359477124183006
6 of KFold 6

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

this fold score:  0.43243243243243246
0.5623293903548681
[[115268    154]
 [   327    309]]

<font size="4">I built my final model with random forests algorithm, combined with stratified kfold validation. Also, I spent time on CV through sklearn's probability calibration function.</font>

In [ ]:
#now using stratified kfold validation with random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
all_features = [
#'loan_id', 
#'source', 
#'financial_institution', 
#'interest_rate',
#'unpaid_principal_bal', 
#'loan_term', 
#'origination_date',
#'first_payment_date', 
'loan_to_value', 
'number_of_borrowers',
'debt_to_income_ratio', 
'borrower_credit_score', 
'loan_purpose',
'insurance_percent', 
'co-borrower_credit_score', 
'insurance_type', 
'm1',
'm2', 
'm3', 
'm4', 
'm5', 
'm6', 
'm7', 
'm8', 
'm9', 
'm10', 
'm11', 
'm12',
#'m13', 
#'orig_date_month', 
#'first_pmt_date_month', 
'0', 
'1', 
'2', 
'3',
'4', 
'5', 
'6', 
'7', 
'8', 
'first_pay-org_date', 
'no_of_defaults',
'any_default', 
'slope1m3', 
'slope4m6', 
'slope7m9', 
'slope10m12',
'loan_term_left', 
'to_be_paid', 
'no_month_def', 
'1any3', 
'4any6',
'7any9', 
'10any12', 
'months_since_def', 
'installment'
]

X = data[all_features]

y = data['m13']

xtest = testfiledata[all_features]

from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

kf = StratifiedKFold(n_splits=9,shuffle=True,random_state=67)
pred_test_full =0
cv_score =[]
i=1
for train_index,test_index in kf.split(X,y):
    print('{} of KFold {}'.format(i,kf.n_splits))
    xtr,xvl = X.loc[train_index],X.loc[test_index]
    ytr,yvl = y.loc[train_index],y.loc[test_index]
    
    #model
    lr = RandomForestClassifier(n_estimators = 105, max_depth = 4, min_samples_split = 44,min_samples_leaf = 22,max_features = 'auto',)
    lr.fit(xtr,ytr)
    score = f1_score(yvl,lr.predict(xvl))
    print("this fold score: ", score)
    pred_test = lr.predict_proba(xvl)[:,1]
    #pred_test_full += pred_test
    i += 1


proba = lr.predict_proba(xtest)[:,1]
proba = pd.Series(proba)
proba = np.where((proba > 0.33),1,0)

col = testfiledata['loan_id']
rf1 = pd.DataFrame()
rf1['loan_id'] = col
rf1['m13'] = proba

rf1.to_csv("C:/ml projects/av ml hackathon/rf9_check.csv")

1 of KFold 9